* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #c6e2ff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    
}

.login-box {
    position: relative;
    background-color: hsla(244, 16%, 92%, 0.6);
    border: 2px solid hsla(244, 16%, 92%, 0.75);
    margin-inline: 1.5rem;
    row-gap: 1.25rem;
    backdrop-filter: blur(20px);
    padding: 2rem;
    border-radius: 1rem;
}

.login-header {
    background: #2c3e50;
    color: white;
    padding: 20px;
    margin-bottom:25px;
    text-align: center;
    border-radius: 15px;
}

.login-header h2 {
    font-size: 24px;
}

.login-header i {
    margin-right: 10px;
}

.login-form {
    position: relative;
    background-color: hsla(244, 16%, 92%, 0.6);
    border: 2px solid hsla(244, 16%, 92%, 0.75);
    margin-inline: 1.5rem;
    row-gap: 1.25rem;
    backdrop-filter: blur(20px);
    padding: 2rem;
    border-radius: 1rem;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #2c3e50;
    font-weight: 500;
}

.form-group label i {
    margin-right: 8px;
    color: #3498db;
}

    .form-group input {
        width: 100%;
        padding: 14px 12px;
        border-radius: 6px;
        border: 1px solid ;
        background-color: hsla(244, 16%, 92%, 0.6);
        color: var(--title-color);
        font-size: var(--smaller-font-size);
        font-weight: var(--font-medium);
        transition: border 0.4s;
    }

.form-group input:focus {
    border-color: #3498db;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #2ecc71;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn i {
    margin-right: 8px;
}

.login-btn:hover {
    background: #27ae60;
}

/* Hata mesajı için stil */
.error-message {
    background-color: #ffebee;
    color: #c62828;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    text-align: center;
}

/* Responsive tasarım */
@media (max-width: 480px) {
    .login-container {
        padding: 10px;
    }
    
    .login-header h2 {
        font-size: 20px;
    }
    
    .form-group input {
        padding: 10px;
    }
} 